.container {
  padding: 15px;
  font-size: 16px;
  border-radius: 15px;
  padding-inline: 25px;
  border: none;
  color: white;
  white-space: nowrap;
  background-color: rgb(72, 132, 201);
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.788);
  transition-duration: .4s;
}

.container:hover {
  cursor: pointer;
  background-color: rgb(50, 89, 134);
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }
}