.container {  
  padding: 15px;
  padding-inline: 25px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  background-color: rgb(82, 100, 121);
  box-shadow: 0px 0px 10px rgba(20, 45, 68, 0.788);
  transition-duration: .4s;
}

.container:hover {
  cursor: pointer;
  background-color: rgb(27, 30, 34);
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }
}