:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color-scheme: light dark;
  background: linear-gradient(168deg, var(--secondary-color) 10%, var(--tertiary-color) 80%);
  background: linear-gradient(168deg, var(--secondary-background-color) 10%, var(--primary-background-color) 80%);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nhexa-white: rgb(229, 229, 229);
  --primary-color: #89E1F0;
  --primary-hover-color: #b86999;
  --primary-background-color: #5e445b;
  --secondary-background-color: #598a92;
  --secondary-semitransparent-background-color: #171717bc;
  --menu-hover-color: #5e445b;
  --button-primary-color: #4884c9;
  --button-primary-hover-color: #325986;
  --primary-components-background: #180e1a;
  --secondary-components-background: #100b1a;
}