:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color-scheme: light dark;
  background: linear-gradient(168deg, var(--secondary-background-color) 20%, var(--primary-background-color) 120%);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nhexa-white: rgb(229, 229, 229);
  --primary-color: #dd4da4bb;
  --primary-hover-color: #b86999;
  --primary-background-color: #95215b;
  --secondary-background-color: #171717;
  --secondary-semitransparent-background-color: #171717bc;
  --button-primary-color: #95215b;
  --menu-hover-color: #860746b6;
  --button-primary-hover-color: #c60e58;
  --components-background: #1b1b1bba;

  color: var(--nhexa-white);
}

@media (max-width: 1080px) {
  :root {
    padding: 0;
  }
}