.list {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.list li {
  display: flex;
  text-align: left;
  position: relative;
  flex-direction: column;
}

.list li span label {
  top: -7px;
  left: 5px;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
  padding-inline: 15px;
  color: white;
  position: absolute;
  background-color: var(--button-primary-color);
  display: flex;
  align-items: center;
}

.list li span {
  display: flex;
  align-items: center;
}

.list li input {
  padding: 10px;
  border-radius: 5px;
}