.logotype {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;

  .type-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    li {
      margin: 0;
      padding: 0;
      font-size: 40px;
      color: var(--nhexa-white);
      font-family: Obitron; 
      
      small {
        margin: 0;
        padding: 0;
        font-family: Poppins;
      }
    }
  }
}