.logotype {
  display: flex;
  gap: 1rem;
  
  .type-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    li {
      margin: 0;
      padding: 0;
      color: var(--nhexa-white);
      font-family: Obitron; 
      
      small {
        font-family: Poppins;
        margin: 0;
        padding: 0;
      }
    }
  }
}